*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    padding: 20px;
}

.carrossel {
    position: relative;
    max-width: 880px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px blue;
}

.slides{
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.slide{
    width: 100%;
    flex-shrink: 0;
}

.slide img{
    width: 100%;
    height: auto;
    display: block;
}

input[name="slide"] {
    display: none;
}

.navegacao {
    text-align: center;
    margin-top: 10px;
}

.barra{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}

input#slide1:checked ~ .slides {
    transform: translateX(0%);
  }

  input#slide2:checked ~ .slides {
    transform: translateX(-100%);
  }

  input#slide3:checked ~ .slides {
    transform: translateX(-200%);
  }

  input#slide1:checked ~ .navegacao label[for="slide1"],
  input#slide2:checked ~ .navegacao label[for="slide2"],
  input#slide3:checked ~ .navegacao label[for="slide3"] {
    background: #333;
  }

  @media (max-width: 600px) {
    .carrossel {
      max-width: 100%;
    }
  }