.conteudo{
    padding: 40px;
    background-color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    color: rgb(0, 0, 0);
}
.introducao{
    text-align: center;
    margin-bottom: 40px;
}
.introducao h1{
    font-size: 2em;
    margin-bottom: 15px;
    color: rgb(255, 72, 0);
}
.introducao p{
    font-size: 1.1em;
    margin-bottom: 20px;
}
.introducao img{
    width: 300px;
    border-radius: 10px;
}
.beneficios{
    margin-bottom: 40px;
}
.beneficios h2{
    color: #2e7d32;
    margin-bottom: 15px;
}
.beneficios ul{
    list-style: none;
    padding: 0;
}
.beneficios li{
    margin: 10px 0;
    font-size: 1.1em;
}
.beneficios i{
    color: #2e7d32;
    margin-right: 10px;
}
.recursos h2{
    color: #2e7d32;
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px #ff0000;
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 170px;
    margin-bottom: 15px;
}
.card h3{
    margin-bottom: 10px;
    color: black;
}
.card p{
    font-size: 0,95em;
    margin-bottom: 15px;
}
