body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
 }
 
 
 header, nav, main, aside, footer {
    padding: 20px
 }
 header {
    background-color: #204e16;
    color:  #fff8dc;
    text-align: center;
 }
 nav {
    background-color: #6bff50;
 }
 nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
 }
 
 
 nav ul li a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s;
 }
 
 
 nav ul li a:hover {
    background-color: #bccbb9;
    border-radius: 5px;
 }
 
 
 main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #b80808;
 }
 
 
 article {
    flex: 1;
    background-color: #4c8445;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 }
 
 
 article h2 {
    color: #913c00;
 }
 
 
 article p {
    line-height: 1.6;
    margin-bottom: 15px;
 }
 
 
 aside {
    flex: 1;
    min-height: 250px;
    background-color: #4c8445;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
 }
 
 
 footer {
    background-color: #b0c9ad;
    color:#000000;
    text-align: center;
 }
 

 .imagem-texto img{
width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;

 }


 .descricao-imagem{
    max-width: 600px;
 }


 @media (max-width:768px) {
    main {
        flex-direction: column;
    }
 }
 

 .imagem-texto{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
 }


